body{font-family: Verdana, sans-serif; background-color: rgb(253, 253, 253);}
h1{ font-size: 200%; flex-wrap: 23px ; color: blueviolet; padding: 0; margin: 0px; }
h3{font-size: 130%; flex-wrap: 23px ; text-align: left; color: #8a094a; }
img {width: 100%; height: 100%;}

#root_cont{
    width: 500px; height: 950px;
    background-color: lightgoldenrodyellow;
    margin: auto;
  } 

#header_common{
    width:490px; height:70px; 
    margin-left: auto ; margin-right: auto ;
    padding: 0px; 
    background-color:#eeeded;
  }

#slide_cont{
    width:490px; height:295px; 
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    padding: 20px;
    justify-content: center; 
    border-radius: 5px;
    background-color:rgb(240, 248, 250);
  }

#link_cont{
    width:490px; height:520px; 
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    padding: auto;
    text-align: center; 
    border-radius: 10px;
    background-color:rgb(248, 239, 239);
  }

.capt_cont{
    width: 350px; height: 70px;
    margin-left: 75px;
    margin-top: 10px;
    padding: 5px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 10px;
    display: flex;
    float: left;
    justify-content: center;
    color: rgb(112, 108, 108);
    background-color: #ede8c2ff;
    border-bottom: 2px solid rgb(196, 191, 149);
  }


  * {box-sizing: border-box;}
  .mySlides {display: none;}
      
      /* Slideshow container */
  .slideshow-container {
        max-width: 480px;
        position: relative;
        margin-left: auto;
        margin-right: auto;
        background-color: rgb(121, 148, 93);
    }
      
      /* Caption text */
  .text {
        color: #f2f2f2;
        font-size: 15px;
        padding: 8px 12px;
        position: absolute;
        bottom: 8px;
        width: 100%;
        text-align: center;
    }
      
      /* Number text (1/3 etc) */
  .numbertext {
        color: #f2f2f2;
        font-size: 12px;
        padding: 8px 12px;
        position: absolute;
        top: 0;
    }
      
      /* The dots/bullets/indicators */
  .dot {
        height: 15px; width: 15px;
        margin: 0 2px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
    }


  .active {background-color: #717171;}
      
      /* Fading animation */
      .fade {
        -webkit-animation-name: fade;
        -webkit-animation-duration: 1.5s;
        animation-name: fade;
        animation-duration: 2.5s;
      }

      @-webkit-keyframes fade {from {opacity: .2} to {opacity: 1} }
      @keyframes fade {from {opacity: .3} to {opacity: 1} }
      /* On smaller screens, decrease text size */
      @media only screen and (max-width: 350px) {.text {font-size: 11px} }
